In [2]:
import pandas as pd
import numpy as np

In [3]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros cuya entidad sean Colombia o México retornando ese valor en un dato
    tupla (Colombia, México).
    Pista averiguar la funcion Shape
    '''

In [4]:
df_consumo= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
df_consumo.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [5]:
df_consumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 446.1+ KB

In [6]:
df_consumo.iloc[[0,1]]

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154

In [7]:
###necesito saber en que indice esta colombia...o sea de que numero a que numero..colombia y mexico. 
df_consumo.shape #### va sin parentesis o corchete

(5190, 11)

In [8]:
df_consumo.index

RangeIndex(start=0, stop=5190, step=1)

In [31]:
df_consumoCM= (df_consumo[['Entity']]== 'Colombia') & (df_consumo[['Entity']]== 'Mexico')
df_consumoCM

      Entity
0      False
1      False
2      False
3      False
4      False
...      ...
5185   False
5186   False
5187   False
5188   False
5189   False

[5190 rows x 1 columns]

In [10]:
colombia = df_consumo[df_consumo['Entity'].isin(['Colombia'])]#.shape
colombia.head()
### aca creo en un data frame nuevo solo las que tienen colombia en la entity

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
895,Colombia,COL,1965,0.084322,0.032225,0.0,3.543949,0.0,0.0,0.0,0.165758
896,Colombia,COL,1966,0.084322,0.033611,0.0,3.937219,0.0,0.0,0.0,0.188919
897,Colombia,COL,1967,0.092528,0.041580,0.0,4.389254,0.0,0.0,0.0,0.190582
898,Colombia,COL,1968,0.084280,0.042377,0.0,4.891012,0.0,0.0,0.0,0.212734
899,Colombia,COL,1969,0.089974,0.046275,0.0,5.437973,0.0,0.0,0.0,0.204372

In [11]:
colombia.shape  ##hago aca el shape

(55, 11)

In [12]:
colombia.shape[0]

55

In [13]:
mexico = df_consumo[df_consumo['Entity'].isin(['Mexico'])]
mexico.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
2580,Mexico,MEX,1965,0.028880,0.290329,0.0,8.863,0.0,0.0,0.0,0.642414
2581,Mexico,MEX,1966,0.030805,0.306408,0.0,10.118,0.0,0.0,0.0,0.673178
2582,Mexico,MEX,1967,0.037798,0.263507,0.0,11.017,0.0,0.0,0.0,0.720995
2583,Mexico,MEX,1968,0.039623,0.282932,0.0,12.642,0.0,0.0,0.0,0.784022
2584,Mexico,MEX,1969,0.040165,0.350894,0.0,13.406,0.0,0.0,0.0,0.828570

In [14]:
mexico.shape[0]

55

In [15]:
tupla= (colombia.shape[0],mexico.shape[0])
print(tupla)

(55, 55)

In [16]:

def Ret_Pregunta01():
    df_consumo= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    colombia = df_consumo[df_consumo['Entity'].isin(['Colombia'])]
    mexico = df_consumo[df_consumo['Entity'].isin(['Mexico'])]
    tupla= (colombia.shape[0],mexico.shape[0])
    return tupla

In [17]:
Ret_Pregunta01()

(55, 55)