In [1]:
import pandas as pd
import numpy as np

In [ ]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta funci√≥n debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.
    '''

In [15]:
df_consumo= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
df_consumo.drop(columns= {'Code'}, inplace=True)
df_consumo.drop(columns= {'Entity'}, inplace=True)
df_consumo.shape

(5190, 9)

In [17]:
df_consumo.head()

,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [22]:
Columnas= df_consumo.shape[1]
print('El numero de columnas es', Columnas)

El numero de columnas es 9

In [23]:
df_consumo= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
df_consumo.drop(columns= {'Code'}, inplace=True)
df_consumo.drop(columns= {'Entity'}, inplace=True)
Columnas= df_consumo.shape[1]
print('El numero de columnas es', Columnas)

El numero de columnas es 9

In [33]:
def Ret_Pregunta02():
    df_consumo= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    df_consumo.drop(columns= {'Code'}, inplace=True)
    df_consumo.drop(columns= {'Entity'}, inplace=True)
    Columnas= int(df_consumo.shape[1])
    return Columnas

In [34]:
Ret_Pregunta02()

9

In [37]:
col = df_consumo.columns
print ('El numero de columnas es', len(col)) ###otra forma que no es con shapeee!

El numero de columnas es 9

In [38]:
df_consumo.columns

Index(['Year', 'Coal_Consumption_EJ', 'Gas_Consumption_EJ',
       'Geo_Biomass_Other_TWh', 'Hydro_Generation_TWh',
       'Nuclear_Generation_TWh', 'Solar_Generation_TWh', 'Wind_Generation_TWh',
       'Oil_Consumption_EJ'],
      dtype='object')