In [1]:
import pandas as pd
import numpy as np

In [ ]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros de la columna Year sin tener en cuenta aquellos con valores faltantes
    retornando ese valor en un dato de tipo entero.
    '''

In [4]:
df_consumo_3= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv') 
df_consumo_3.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [11]:
df_cons3= df_consumo_3[['Year']]
df_cons3.head()

   Year
0  1965
1  1966
2  1967
3  1968
4  1969

In [13]:
df_cons3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5190 non-null   int64
dtypes: int64(1)
memory usage: 40.7 KB

In [20]:
df_cons3.dropna()

      Year
0     1965
1     1966
2     1967
3     1968
4     1969
...    ...
5185  2015
5186  2016
5187  2017
5188  2018
5189  2019

[5190 rows x 1 columns]

In [18]:
df_cons3.shape[0]

5190

In [24]:
def Ret_Pregunta03():
    df_consumo_3= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    df_cons3= df_consumo_3[['Year']] 
    df_cons3.dropna()
    return df_cons3.shape[0]

In [25]:
Ret_Pregunta03()

5190