In [129]:
import pandas as pd
import numpy as np

In [130]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    El ExaJulio es una unidad diferentes al TWh, es decir, no tiene sentido sumarlos o
    buscar proporciones entre ellos, la fórmula de conversión es:
    277.778 Teravatios/Hora (TWh) = 1 Exajulio
    Los campos terminados en "_EJ" corresponden a mediciones en Exajulios,
    y los terminados en "_TWh" corresponden a Teravatios/Hora.
    La consigna es crear un nuevo campo, que se denomine "Consumo_Total"
    y que guarde la sumatoria de todos los consumos expresados en Teravatios/Hora
    (convirtiendo a esta medida los que están en Exajulios)
    Esta función debe informar el consumo total para la entidad 'World' y año '2019',
    redondeado a 2 decimales, retornando ese valor en un dato de tipo float.
    '''

In [131]:
df_4= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
df_4.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [132]:
df_4.info() ### de por si esta en float asique no tengo que convertirlo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 446.1+ KB

In [133]:
## 3 coal esta en EJ
## 4 GAS en EJ
## 10 oil en EJ estas las tengo que convertir a twh

In [134]:
def TWh (EJx):
    return EJx * 277.778 ### haggo una funcion que transforme el EJ en TWH

In [135]:
type(TWh(1))

float

In [136]:
### ahora la transformo en LAMBDA
Lambdatwh = lambda EJx : EJx * 277.778

In [137]:
df_4['Coal twj'] = df_4['Coal_Consumption_EJ'].apply(lambda EJx : EJx * 277.778)
df_4['GAS twj']= df_4['Gas_Consumption_EJ'].apply(lambda EJx : EJx * 277.778)
df_4['OIL twj']= df_4['Oil_Consumption_EJ'].apply(lambda EJx : EJx * 277.778) ## es lo mismo poner la variable

In [138]:
df_4['Hydro_Generation_TWh']

0         13.905635
1         15.510004
2         16.190636
3         18.938341
4         22.100890
           ...
5185    3884.619692
5186    4012.947981
5187    4065.869592
5188    4171.404951
5189    4222.214992
Name: Hydro_Generation_TWh, Length: 5190, dtype: float64

In [139]:
df_4.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Coal twj,GAS twj,OIL twj
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241,323.496397,9.543762,325.900637
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154,323.122452,10.669925,356.709630
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799,330.291849,10.545678,353.833321
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219,343.513186,10.688978,373.394345
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729,346.643199,12.492010,378.536268

In [140]:
df_4['Consumo_Total']= df_4['Geo_Biomass_Other_TWh']+ df_4['Hydro_Generation_TWh'] + df_4['Nuclear_Generation_TWh']+ df_4['Solar_Generation_TWh']+ df_4['Coal twj']+ df_4['GAS twj']+ df_4['OIL twj']

In [141]:
df_4.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Coal twj,GAS twj,OIL twj,Consumo_Total
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241,323.496397,9.543762,325.900637,672.846431
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154,323.122452,10.669925,356.709630,706.012010
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799,330.291849,10.545678,353.833321,710.861484
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219,343.513186,10.688978,373.394345,746.534850
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729,346.643199,12.492010,378.536268,759.772366

In [142]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
 11  Coal twj                5170 non-null   float64
 12  GAS twj                 5170 non-null   float64
 13  OIL twj                 5184 non-null   float64
 14  Consumo_Total           5109 non-null   float64
dtypes: float64(12), int64(1), object(2)
memory usage: 608.3+ KB

In [143]:
masc= (df_4['Entity'] == 'World') & (df_4['Year'] == 2019)
masc
df_4[masc]

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Coal twj,GAS twj,OIL twj,Consumo_Total
5189,World,OWID_WRL,2019,157.857047,141.45277,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574,43849.214774,39292.467573,53619.924674,145155.681258

In [149]:
df_new = df_4[masc]

In [150]:
df_new['Consumo_Total'].sum() ###no hace falta sumar porque es un solo valor

145155.68125810922

In [151]:
CTworld2019= (float(round(df_new['Consumo_Total'].sum(), 2)))
print (CTworld2019)

145155.68

In [154]:
####RESOLUCION
def Ret_Pregunta04():
    df_4= pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    df_4['Coal twj'] = df_4['Coal_Consumption_EJ'].apply(lambda EJx : EJx * 277.778)
    df_4['GAS twj']= df_4['Gas_Consumption_EJ'].apply(lambda EJx : EJx * 277.778)
    df_4['OIL twj']= df_4['Oil_Consumption_EJ'].apply(lambda EJx : EJx * 277.778)
    df_4['Consumo_Total']= df_4['Geo_Biomass_Other_TWh']+ df_4['Hydro_Generation_TWh'] + df_4['Nuclear_Generation_TWh']+ df_4['Solar_Generation_TWh']+ df_4['Coal twj']+ df_4['GAS twj']+ df_4['OIL twj']
    masc= (df_4['Entity'] == 'World') & (df_4['Year'] == 2019)
    df_new = df_4[masc]
    CTworld2019= (float(round(df_new['Consumo_Total'], 2)))
    return (CTworld2019)

In [155]:
Ret_Pregunta04()

145155.68