In [32]:
import pandas as pd
import numpy as np

In [53]:
def Ret_Pregunta05():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar el año de mayor generación de energía hídrica (Hydro_Generation_TWh)
    para la entidad 'Europe' retornando ese valor en un dato de tipo entero.
    '''

In [56]:
df_5 = pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
#df_5['Hydro_Generation_TWh'].idxmax()

5189

In [57]:
#df_5.iloc[[5189]]

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
5189,World,OWID_WRL,2019,157.857047,141.45277,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [55]:
##para europa
masc = df_5['Entity'] == 'Europe'
df5bis = df_5[masc]
df5bis

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
1345,Europe,NaN,1965,21.941174,1.364923,3.009000,302.195353,19.677000,0.000000,0.000000,17.930049
1346,Europe,NaN,1966,21.051786,1.545337,4.101000,324.569889,25.791000,0.000000,0.000000,19.681243
1347,Europe,NaN,1967,20.369594,1.851700,4.489000,324.462744,29.874000,0.000000,0.000000,21.364191
1348,Europe,NaN,1968,20.684130,2.399055,4.997000,336.236678,33.812000,0.000000,0.000000,23.493341
1349,Europe,NaN,1969,20.954453,3.094314,5.422904,330.975909,41.103000,0.000000,0.000000,26.162018
1350,Europe,NaN,1970,20.610098,3.907398,7.118357,346.078069,44.563000,0.000000,0.000000,29.001503
1351,Europe,NaN,1971,19.728208,4.811608,7.231884,349.563154,50.867000,0.000000,0.000000,30.433295
1352,Europe,NaN,1972,19.058234,5.857587,7.122608,363.832965,67.513000,0.000000,0.000000,32.571348
1353,Europe,NaN,1973,19.361256,6.657114,7.663391,369.312715,74.378000,0.000000,0.000000,34.901974
1354,Europe,NaN,1974,19.185497,7.540007,8.042060,399.291285,87.379000,0.000000,0.000000,32.855075
1355,Europe,NaN,1975,18.735812,8.094945,8.520942,407.510766,116.658000,0.000000,0.000000,31.717416
1356,Europe,NaN,1976,19.619956,8.801101,8.485597,376.834700,136.099000,0.000000,0.000000,33.879345
1357,Europe,NaN,1977,19.571591,9.217241,8.880291,456.271639,161.442105,0.000000,0.000000,33.582962
1358,Europe,NaN,1978,19.933002,9.588088,9.372139,455.528708,181.545053,0.000000,0.003000,35.282606
1359,Europe,NaN,1979,20.802125,10.122955,9.762958,479.149882,202.421737,0.000000,0.006000,36.087418
1360,Europe,NaN,1980,21.191536,10.111834,10.740949,464.766647,236.501684,0.000000,0.010500,33.655396
1361,Europe,NaN,1981,20.832655,10.012438,10.753523,470.435388,319.735158,0.000000,0.010500,31.359805
1362,Europe,NaN,1982,20.949730,9.821835,9.836121,466.309649,352.408947,0.000000,0.018500,29.835540
1363,Europe,NaN,1983,21.241375,10.213375,10.136652,480.125849,415.758842,0.000000,0.030100,29.007505
1364,Europe,NaN,1984,21.205199,10.698335,10.510578,485.193534,528.457789,0.001010,0.038200,29.178389
1365,Europe,NaN,1985,26.061852,14.495258,10.961413,502.994541,695.521784,0.001010,0.057400,32.638380
1366,Europe,NaN,1986,25.840829,14.865516,13.018810,486.093184,738.838334,0.001010,0.133600,33.643091
1367,Europe,NaN,1987,26.048886,15.522032,12.875301,529.505659,768.928499,0.000000,0.190800,33.799451
1368,Europe,NaN,1988,25.513186,15.656087,13.678100,567.469001,846.228284,0.001010,0.329700,33.967310
1369,Europe,NaN,1989,25.196214,16.090924,13.537276,493.805931,886.824425,0.009091,0.515400,33.850229
1370,Europe,NaN,1990,23.970440,17.376914,18.952853,502.457150,894.411684,0.012500,0.779460,34.418515
1371,Europe,NaN,1991,22.582738,17.592985,19.549433,513.091775,917.795474,0.015500,0.980028,33.940126
1372,Europe,NaN,1992,21.271050,16.628270,20.709603,529.656650,924.220579,0.027088,1.535048,33.354112
1373,Europe,NaN,1993,19.868782,16.711969,22.879095,550.466765,960.689895,0.032383,2.284826,32.366147
1374,Europe,NaN,1994,18.727047,16.230504,24.017900,557.196628,952.128316,0.037688,2.979236,32.187079
1375,Europe,NaN,1995,18.526485,17.146735,26.498631,564.889909,976.941211,0.046840,3.863029,32.718356
1376,Europe,NaN,1996,17.999418,18.998083,26.680200,548.086294,1032.181474,0.053811,4.828585,33.308363
1377,Europe,NaN,1997,17.505788,18.561369,31.663519,567.678972,1042.499947,0.063926,7.295493,33.429723
1378,Europe,NaN,1998,17.030812,18.829933,36.115042,593.904162,1033.895566,0.087088,11.176479,34.223562
1379,Europe,NaN,1999,16.088806,19.579941,38.099600,598.180853,1040.453262,0.091198,14.244322,33.861903
1380,Europe,NaN,2000,16.556250,20.105810,42.331248,617.663520,1048.820605,0.134473,22.454714,33.469056
1381,Europe,NaN,2001,16.405012,20.500588,44.954669,612.040962,1082.005867,0.170203,26.934287,34.010947
1382,Europe,NaN,2002,16.396253,20.565798,50.656336,563.942443,1095.455172,0.276755,36.425949,33.867622
1383,Europe,NaN,2003,17.048650,21.494775,57.980971,529.568503,1104.809786,0.468698,44.531152,34.061783
1384,Europe,NaN,2004,16.766428,22.016426,68.801142,570.153394,1122.659950,0.751098,59.296787,34.395337
1385,Europe,NaN,2005,16.369270,22.591848,78.673179,571.725191,1110.194654,1.486383,71.096749,34.592179
1386,Europe,NaN,2006,17.139426,22.422298,89.277258,561.908876,1108.070743,2.524088,83.164140,34.707766
1387,Europe,NaN,2007,17.362628,22.225133,99.469830,563.963605,1055.812656,3.815705,105.713194,34.008973
1388,Europe,NaN,2008,16.379489,22.532406,110.044741,593.033139,1055.097976,7.501071,121.353902,33.684688
1389,Europe,NaN,2009,14.671710,20.788145,120.746553,589.744875,1004.692726,14.192835,135.383229,32.018682
1390,Europe,NaN,2010,15.335347,22.425522,136.890938,649.800167,1032.048072,23.263436,153.443497,31.653594
1391,Europe,NaN,2011,15.985714,20.894732,146.165136,569.648632,1024.165609,46.713549,186.657403,30.789678
1392,Europe,NaN,2012,16.343887,20.365047,161.993771,625.806107,998.366909,71.869938,214.837420,29.763437
1393,Europe,NaN,2013,15.805643,19.957448,171.738075,661.636667,986.485437,86.935117,248.093912,29.231977
1394,Europe,NaN,2014,14.843881,18.001304,183.522933,644.059662,992.701925,98.835694,264.813831,28.642243
1395,Europe,NaN,2015,14.199771,18.329868,196.657206,635.899530,968.267897,109.883454,318.806957,29.330026
1396,Europe,NaN,2016,13.683823,19.347488,201.557709,651.434840,942.170014,113.952463,322.924442,30.044908
1397,Europe,NaN,2017,13.228293,20.120776,208.271196,584.778232,936.122945,124.474694,383.934492,30.600235
1398,Europe,NaN,2018,12.915286,19.728042,215.007939,645.255445,935.810069,138.556570,402.775107,30.456037
1399,Europe,NaN,2019,11.346770,19.948825,220.335262,632.538302,928.467472,154.663459,461.587610,30.402470

In [50]:
df5bis['Hydro_Generation_TWh'].idxmax()

1393

In [59]:
df_5.iloc[[1393]]
#df5final

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
1393,Europe,NaN,2013,15.805643,19.957448,171.738075,661.636667,986.485437,86.935117,248.093912,29.231977

In [60]:
df_5.iloc[[df5bis['Hydro_Generation_TWh'].idxmax()]]

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
1393,Europe,NaN,2013,15.805643,19.957448,171.738075,661.636667,986.485437,86.935117,248.093912,29.231977

In [62]:
dfinal= df_5.iloc[[df5bis['Hydro_Generation_TWh'].idxmax()]]

In [65]:
resultado= int(dfinal['Year'])
print(resultado)

2013

In [66]:
def Ret_Pregunta05():
    df_5 = pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    masc = df_5['Entity'] == 'Europe'
    df5bis = df_5[masc]
    df_5.iloc[[df5bis['Hydro_Generation_TWh'].idxmax()]]
    dfinal= df_5.iloc[[df5bis['Hydro_Generation_TWh'].idxmax()]]
    resultado= int(dfinal['Year'])
    return(resultado)

In [67]:
Ret_Pregunta05()

2013