In [27]:
import pandas as pd

In [28]:
def Ret_Pregunta07():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar cuál de la siguiente lista de países tuvo mayor generacíon de
    energía hìdrica (Hydro_Generation_TWh) en el año 2019:
        * Argentina
        * Brazil
        * Chile
        * Colombia
        * Ecuador
        * Mexico
        * Peru
    Debe retornar el valor en un dato de tipo string.
    '''

In [50]:
df7 = pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
df7.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [51]:
arg = df7 [(df7['Entity'] == 'Argentina') & (df7['Year'] == 2019)]
arg

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
164,Argentina,ARG,2019,0.022852,1.709661,2.397314,37.066787,8.441898,0.799698,4.995966,1.18558

In [79]:
numA= arg['Hydro_Generation_TWh']
type(numA)

pandas.core.series.Series

In [81]:
numA= float (arg['Hydro_Generation_TWh'])
numA

float

In [63]:
brz = df7 [(df7['Entity'] == 'Brazil') & (df7['Year'] == 2019)]
brz

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
564,Brazil,BRA,2019,0.656077,1.289142,56.254366,399.297116,16.164832,5.562711,55.8332,4.730524

In [82]:
numB= float (brz['Hydro_Generation_TWh'])
numB

399.2971157

In [65]:
chile = df7 [(df7['Entity'] == 'Chile') & (df7['Year'] == 2019)]
chile

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
839,Chile,CHL,2019,0.284529,0.233328,9.992204,20.852753,0.0,6.300226,5.300193,0.759592

In [66]:
numCH= float (chile['Hydro_Generation_TWh'])
numCH

20.85275304

In [67]:
col = df7 [(df7['Entity'] == 'Colombia') & (df7['Year'] == 2019)]
col

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
949,Colombia,COL,2019,0.257706,0.484072,2.047531,51.542435,0.0,0.123067,0.059537,0.701667

In [68]:
numC= float (col['Hydro_Generation_TWh'])
numC

51.54243493

In [69]:
ecua = df7 [(df7['Entity'] == 'Ecuador') & (df7['Year'] == 2019)]
ecua

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
1254,Ecuador,ECU,2019,0.0,0.022754,0.454723,24.664264,0.0,0.166452,0.085527,0.494373

In [70]:
numE= float (ecua['Hydro_Generation_TWh'])
numE

24.66426354

In [71]:
mex = df7 [(df7['Entity'] == 'Mexico') & (df7['Year'] == 2019)]
mex 
numM= float (mex['Hydro_Generation_TWh'])
numM

23.79043502

In [72]:
peru = df7 [(df7['Entity'] == 'Peru') & (df7['Year'] == 2019)]
peru
numP= float (peru['Hydro_Generation_TWh'])
numP

31.58605922

In [73]:
list1= [numP,numM,numA,numB,numC,numCH,numE]
#list1.sort()
#print(str(list1[-1]))

In [74]:
list2= ['Peru','Mexico','Argentina','Brasil','Colombia','Chile','Ecuador']
c= zip(list1,list2)
final= list(c)
final.sort()
print(str(final[-1][1]))

Brasil

In [86]:
def Ret_Pregunta07():
    df7 = pd.read_csv('datasets\Fuentes_Consumo_Energia.csv')
    arg = df7 [(df7['Entity'] == 'Argentina') & (df7['Year'] == 2019)]
    brz = df7 [(df7['Entity'] == 'Brasil') & (df7['Year'] == 2019)]
    col = df7 [(df7['Entity'] == 'Colombia') & (df7['Year'] == 2019)]
    chile = df7 [(df7['Entity'] == 'Chile') & (df7['Year'] == 2019)]
    peru = df7 [(df7['Entity'] == 'Peru') & (df7['Year'] == 2019)]
    ecua = df7 [(df7['Entity'] == 'Ecuador') & (df7['Year'] == 2019)]
    mex = df7 [(df7['Entity'] == 'Mexico') & (df7['Year'] == 2019)]
    numA= float (arg['Hydro_Generation_TWh'])
    numB= float (brz['Hydro_Generation_TWh'])
    numC= float (col['Hydro_Generation_TWh'])
    numCH= float (chile['Hydro_Generation_TWh'])
    numP= float (peru['Hydro_Generation_TWh'])
    numM= float (mex['Hydro_Generation_TWh'])
    numE= float (ecua['Hydro_Generation_TWh'])
    list1= [numP,numM,numA,numB,numC,numCH,numE]
    list2= ['Peru','Mexico','Argentina','Brasil','Colombia','Chile','Ecuador']
    c= zip(list1,list2)
    final= list(c)
    final.sort()
    print(str(final[-1][1]))

In [87]:
Ret_Pregunta07()

TypeError: cannot convert the series to <class 'float'>