In [1]:
import pandas as pd

In [ ]:
def Ret_Pregunta09():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
    Esta funci√≥n debe informar: score_promedio_femenino y score_promedio_masculino en formato tupla
    '''

In [5]:
df1= pd.read_csv('datasets/Tabla1_ejercicio.csv', sep=';')
df1.head()

       pers_id sexo  edad      ingreso            situacion_lab
0  71906556521    F    47  35926.28125  Sin_situacion_declarada
1  73861260912    F    41  16231.12207  Sin_situacion_declarada
2  24939194469    F    40  25068.96484     Relacion_dependencia
3  21033369421    F    52  30239.54883                 Jubilado
4  45334163605    F    46  12654.58203     Relacion_dependencia

In [6]:
df2= pd.read_csv('datasets/Tabla2_ejercicio.csv', sep=';')
df2.head()

    pers_id  periodo  score
0  27817725   201906    814
1  37570691   201906    597
2  40181240   201906    251
3  52105045   201906    617
4  63502595   201906    392

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pers_id        5000 non-null   int64
 1   sexo           5000 non-null   object
 2   edad           5000 non-null   int64
 3   ingreso        5000 non-null   float64
 4   situacion_lab  5000 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 195.4+ KB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14997 entries, 0 to 14996
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pers_id  14997 non-null  int64
 1   periodo  14997 non-null  int64
 2   score    14997 non-null  int64
dtypes: int64(3)
memory usage: 351.6 KB

In [29]:
dfsumado= pd.merge(df1,df2, on='pers_id').dropna() ## es lo mismo ponerlo que no ponerlo?? al on=pers_id
dfsumado.head()
dfsumado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15876 entries, 0 to 15875
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pers_id        15876 non-null  int64
 1   sexo           15876 non-null  object
 2   edad           15876 non-null  int64
 3   ingreso        15876 non-null  float64
 4   situacion_lab  15876 non-null  object
 5   periodo        15876 non-null  int64
 6   score          15876 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 992.2+ KB

In [46]:
mascF= dfsumado[(dfsumado['sexo'] == 'F')]
round(mascF['score'].mean(),2)

629.32

In [47]:
mascM= dfsumado[(dfsumado['sexo'] == 'M')]
round(mascM['score'].mean(),2)

772.28

In [52]:
def Ret_Pregunta09():
    df1= pd.read_csv('datasets/Tabla1_ejercicio.csv', sep=';')
    df2= pd.read_csv('datasets/Tabla2_ejercicio.csv', sep=';')
    dfsumado= pd.merge(df1,df2, on='pers_id').dropna()
    mascF= dfsumado[(dfsumado['sexo'] == 'F')]
    prom_F= round(mascF['score'].mean(),2)
    mascM= dfsumado[(dfsumado['sexo'] == 'M')]
    prom_M= round(mascM['score'].mean(),2)
    tupla = (prom_F,prom_M)
    return tupla

In [53]:
Ret_Pregunta09()

(629.32, 772.28)